@import url('general.css');

/* PROJECTS */
.projects {
     padding: 4rem 0;
}

.project-details {
     padding: 13rem 0 10rem 0;
}

.project-row {
     padding: 5rem 0;
}

.image-space {
     margin-top: 7rem;
}